<form action="/books/upsert" role="form" method="post">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" {{#if book}}value="{{book.title}}"{{/if}}>
  </div>
  <div>
    <label for="year_published">Year Published</label>
    <input type="text" id="year_published" name="yearPublished" {{#if book}}value="{{book.yearPublished}}"{{/if}}>
  </div>
 <div class="mb-3">
    <label for="authorIds">Authors</label>
    <select name="authorIds" multiple id="authorIds">
      <option disabled value>-- select Author --</option>
      {{#each authors}}
        <option value="{{@index}}" {{#if (and @root.book (in @root.book.authorIds @index))}}selected{{/if}}>
          {{this.firstName}} {{this.lastName}}
        </option>
      {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label for="genreId">Genre</label>
    <select name="genreId" id="genreId">
      <option disabled selected value>-- select Genre --</option>
      {{#each genres}}
        <option value="{{@index}}">
          {{this.name}}
        </option>
      {{/each}}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
    {{#if book}}
    <div>
      <h2>{{book.title}} {{book.yearPublished}}</h2>
      <input type="hidden" name="id" value="{{bookIndex}}">
    </div>
  {{/if}}
</form>

