<body>
  <h1>{{book.title}}</h1>
{{#if authors}}
 Written by {{#each authors}}{{this.firstName}} {{this.lastName}}{{#unless @last}}, {{/unless}}{{/each}}
{{/if}}
<p>
  Originally published in {{book.yearPublished}}
</p>
<p> Genre: {{genre.name}}</p>
</body>